.sidebar {
  width: 60px; /* Ширина сайдбара */
  height: 100vh; /* Высота на весь экран */
  background-color: #2c3e50; /* Цвет фона */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed; /* Закрепляем сайдбар */
  left: 0; /* Прижимаем к левой части экрана */
  top: 0; /* Прижимаем к верхней части экрана */
}

.sidebar .sidebar-button {
  background-color: #398ad5; /* Синий цвет кнопок */
  border: none;
  color: white;
  margin: 10px 0; /* Отступ между кнопками */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px; /* Закруглённые углы */
  width: 45px; /* Фиксированная ширина */
  height: 20px !important; /* Фиксированная высота */
  line-height: 20px; /* Центрируем текст по вертикали */
  flex-shrink: 0; /* Запрещаем сжатие кнопок */
  box-sizing: border-box; /* Учитываем padding и border в размерах */
  padding: 0; /* Убираем внутренние отступы */
}

.sidebar .sidebar-button:hover {
  background-color: #8a1919; /* Цвет кнопок при наведении */
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3); /* Тень */
}