.sidebar {
  width: 50px; /* Ширина сайдбара */
  height: 100vh; /* Высота на весь экран */
  background: linear-gradient(135deg, #333f4b, #2f608d); /* Градиентный фон */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* Закрепляем сайдбар */
  left: 0; /* Прижимаем к левой части экрана */
  top: 0; /* Прижимаем к верхней части экрана */
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Выравниваем кнопки по верхнему краю */
  width: 100%;
}

/*попытка поиграться со стилями иконок*/
.iconsSideBar{
  color: rgb(255, 255, 255);
}


.sidebar .sidebar-button {
  background: linear-gradient(135deg, #1a73e8, #004ba0); /* Градиентный фон */
  color: white;
  margin: 10px 0; /* Уменьшаем отступ между кнопками */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px; /* Закруглённые углы */
  width: 38px; /* Фиксированная ширина */
  height: 38px; /* Фиксированная высота */
  line-height: 38px; /* Центрируем текст по вертикали */
  box-sizing: border-box; /* Учитываем padding и border в размерах */
  padding: 0; /* Убираем внутренние отступы */
  flex-shrink: 0; /* Запрещаем сжатие кнопок */
}

.sidebar .sidebar-button:hover {
  background: linear-gradient(135deg, #1a73e8, #8a1919); /* Градиентный фон */
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3); /* Тень */
}