/* App.css */


@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

#globalApp{
    display: flex;
}

#App {
    flex-grow: 1;
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.005); /* Полупрозрачный белый фон */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    position: fixed; /* Закрепляем сайдбар */
    left: 50px; /* Прижимаем к левой части экрана */
    top: 0px; /* Прижимаем к верхней части экрана */
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Расстояние между строками */
}

.form-row {
    display: flex;
    align-items: center;
    gap: 12px; /* Расстояние между элементами в строке */
}

label {
    width: 112px; /* Фиксированная ширина для меток */
    text-align: left; /* Выравнивание текста меток по левому краю */
    color: white; /* Белый текст */
}


.labelFormFixAct{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    width: 140px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.404); /* легкая тень */
}

.labelFormFixAct:hover{
    letter-spacing: 0.01em; /* немного увеличить расстояние между буквами */
}

#top-label {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    flex: 0 0 82%; /* Лейбл занимает 90% ширины */
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.404); /* легкая тень */
  }

select,
input,
textarea,
button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1; /* Растягиваемые поля ввода и выпадающий список */
    padding: 8px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#add-activity,
#set-start-time,
#set-end-time,
#set-total-time{
    flex: 0;
}

select {
    cursor: pointer;
}

textarea {
    resize: none; /* Отключаем изменение размера */
}

button {
    background-color: #398ad5; /* Синий цвет кнопок */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /*тень*/
    transition: background-color 0.3s ease;
    font-family: 'Georgia', serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9); /* легкая тень */
}

button:hover {  
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3); /*тень*/
    /*letter-spacing: 0.03em; /* немного увеличить расстояние между буквами */
}

.button-fixact-support:hover{
    background-color: #ba5a27;
}

.buttonFixActAdd:hover{
    background-color: #418a19;
}

input:hover,
select:hover,
textarea:hover {
    background-color: #cbe7fb; /* Светло-голубой при наведении */
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2); /*тень*/
}

/* Стили для SweetAlert2 */
.custom-popup {
    width: 300px; /* Ширина окна */
    height: 250px; /* Высота окна */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.custom-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333; /* Темный текст */
}

.custom-content {
    font-size: 13px;
    color: #555; /* Серый текст */
}


.swal2-show {
    animation: swal2-show 0.2s ease-out; /* Ускоренная анимация появления */
}

.swal2-hide {
    animation: swal2-hide 0.2s ease-out; /* Ускоренная анимация исчезновения */
}

@keyframes swal2-show {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes swal2-hide {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Надпись и кнопка будут по краям */
    gap: 10px; /* Расстояние между надписью и кнопкой */
  }


  .toggle-stopwatch-button {
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    white-space: nowrap;
    flex: 0 0 9%; /* Кнопка занимает 10% ширины */
  }
  
  .toggle-stopwatch-button:hover {
    background-color: #218838; /* Темно-зеленый цвет при наведении */
  }