/*ПОДКЛЮЧАЕМ ШРИФТ*/
@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*сетка кнопок*/
.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  width: 600px;
  margin: 20px auto;
}

.button-grid button {
  width: 100%;
  padding: 10px;
  /*transition: all 0.1s ease; /* Плавная анимация */
}

.button-grid button:hover {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #0026d0, #0026d0, #0026d0, #0026d0, #0026d0);
  scale: 1.02;
  box-shadow: 0 2px 4px rgb(240, 156, 0);
}


/*слово для изучения*/
.word {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  font-weight: bold;
  /*позиционирование по центру*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: fit-content;
  /* или фиксированная ширина, например, 300px */
  text-shadow: 2px 2px 4px rgba(193, 206, 16, 0.726);
  /* ТЕНЬ Смещение-X, Y, размытие, цвет */
  
}

/*вспомогательные кнопки*/
.auxiliaryButton {
  margin: 5px;
  background: linear-gradient(90deg, #7b7b7b54, #bdbdbd46, #ff77004d);
}

.auxiliaryButton:hover {
  margin: 5px;
  background: linear-gradient(90deg, #1f490054, #40960354, #1f490054);
}

/*кнопка настроек*/
.settingsButton {
  position: fixed;
  /* Фиксированное позиционирование */
  top: 10px;
  /* Отступ сверху */
  right: 10px;
  /* Отступ справа */
  padding: 5px 10px;
  /* Внутренние отступы */
  font-size: 16px;
  /* Размер текста */
  background: linear-gradient(135deg, #1a73e849, #004ba048);
  /* Градиентный фон */
  color: white;
  /* Цвет текста */
  border: none;
  /* Убираем границу */
  border-radius: 5px;
  /* Закругленные углы */
  cursor: pointer;
  /* Курсор в виде указателя */
  z-index: 1000;
  /* Чтобы кнопка была поверх других элементов */
}