/*сетка кнопок*/
.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    width: 600px;
    margin: 20px auto;
  }
  
  .button-grid button {
    width: 100%;
    padding: 10px;
    /*transition: all 0.1s ease; /* Плавная анимация */
  }

  .button-grid button:hover {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #0026d0, #0026d0, #0026d0, #0026d0, #0026d0);
    scale: 1.02;
    box-shadow: 0 2px 4px rgb(240, 156, 0);
  }

/*название приложения*/
.name-app{
    color: rgb(72, 109, 42);
    font-size: small;
}

/*слово для изучения*/
.word{
    font-size:80px;
    /*позиционирование по центру*/
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* или фиксированная ширина, например, 300px */
}

/*вспомогательные кнопки*/
.auxiliaryButton{
  margin: 5px;
  background: linear-gradient(90deg, #7b7b7b54, #bdbdbd46, #ff77004d);
}

.auxiliaryButton:hover{
  margin: 5px;
  background: linear-gradient(90deg, #1f490054, #40960354, #1f490054);
}