/* App.css */
#App {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Расстояние между строками */
}

.form-row {
    display: flex;
    align-items: center;
    gap: 12px; /* Расстояние между элементами в строке */
}

label {
    width: 112px; /* Фиксированная ширина для меток */
    text-align: left; /* Выравнивание текста меток по левому краю */
    color: white; /* Белый текст */
}

select,
input,
textarea,
button {
    flex: 1; /* Растягиваемые поля ввода и выпадающий список */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Белый фон с небольшой прозрачностью */
    color: #333; /* Темный текст */
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#add-activity,
#set-start-time,
#set-end-time,
#set-total-time{
    flex: 0;
}

select {
    cursor: pointer;
}

textarea {
    resize: none; /* Отключаем изменение размера */
}

button {
    background-color: #398ad5; /* Синий цвет кнопок */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2a6ba8; /* Темно-синий при наведении */
}

input:hover,
select:hover,
textarea:hover {
    background-color: #e0f2ff; /* Светло-голубой при наведении */
}

/* Стили для SweetAlert2 */
.custom-popup {
    width: 300px; /* Ширина окна */
    height: 250px; /* Высота окна */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.custom-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333; /* Темный текст */
}

.custom-content {
    font-size: 13px;
    color: #555; /* Серый текст */
}


.swal2-show {
    animation: swal2-show 0.3s ease-out; /* Ускоренная анимация появления */
}

.swal2-hide {
    animation: swal2-hide 0.3s ease-out; /* Ускоренная анимация исчезновения */
}

@keyframes swal2-show {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes swal2-hide {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}