/* global.css */
html {
    background-color: #2d2e30; /* Темный фон */
    color: white; /* Белый текст */
}


/* Скрываем scrollbar */
/*::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari, Edge */
/*}*/

#globalApp{
    display: flex;
}

#App{
    width: 80%;
    padding: 45px;
    flex-grow: 1;
    font-family: Arial, sans-serif;
    margin: 5px;
    position: fixed; /* Закрепляем сайдбар */
    left: 50px; /* Прижимаем к левой части экрана */
    top: 0px; /* Прижимаем к верхней части экрана */
}