@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.stopwatch {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff07;
}

.time-and-buttons {
  display: flex; /* Включаем flexbox */
  align-items: center; /* Выравниваем элементы по вертикали */
  justify-content: center; /* Выравниваем элементы по горизонтали */
  gap: 50px; /* Расстояние между элементами */
}

.time {
  font-family: 'Oswald';
  margin-top: 10px;
  font-size: 35px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 1px rgba(8, 62, 238, 0.404); /* легкая тень */
}

.buttons {
  display: flex;
  flex-direction: row; /* Кнопки располагаются горизонтально */
  gap: 10px; /* Расстояние между кнопками */
  margin-left: auto; /* Прижимаем кнопки вправо */
}

.buttons button {
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 44px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.buttons button:hover:not(:disabled) {
  background-color: #b6602e;
}

.stopwatch_label {
  font-family: 'Georgia', serif;
  font-size: 30px;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.404); /* легкая тень */
}

.history {
  margin-top: 1rem;
  font-size: 1rem;
  color: #666;
}