.my-swal-popup-reference {
    font-family: 'Arial', sans-serif;
    text-align: left; /* Выравниваем текст по левому краю */
    font-size: small ;
    border-radius: 10px;
  }

  .my-swal-popup-reference .swal2-content {
    text-align: left;
  }
  
  .my-swal-title-reference {
    font-size: 1.5em; /* Увеличиваем размер заголовка */
    color: #333;
    color: white;
    text-shadow: 4px 4px 4px rgb(18, 69, 146);
  }
  
  .my-swal-confirm-button-reference {
    /*background-color: #4CAF50 !important;*/
  }

  
  
