.react-select-container {
  width: 100%;
  color: black;
}

.react-select__control {
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.react-select__control--is-focused {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.react-select__menu {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}